:root {
    --primaryColor: #F9F5EB;
    --colorGray: #47494D;
    --colorWhite: #FFFFFF;
    --colorBlack: #000000;
    --fontCormorant: 'Cormorant', serif;
    --fontQuicksand: 'Quicksand', sans-serif;
    --title: 'Great Vibes', cursive;
    ;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 1.6rem;
    font-family: var(--fontCormorant);
    font-weight: 500;
    font-style: italic;
    font-size: 2rem;
    background-color: var(--primaryColor);
    color: var(--colorBlack);
}

h2 {
    text-align: center;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 10rem;
    
}

@media (min-width: 767px) {
    h2 {
        margin-bottom: 15rem;
    }
}

@media (min-width: 767px) {
    h2 {
        font-size: 5.2rem;
    }
}

.container {
    width: 90%;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.header {
    max-width: 150rem;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 700;
}

.container-logo {
    width: 12rem;
}


.navigation {
    width: 60vw;
    background-color: var(--colorWhite);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
}

.container-link {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

.link {
    text-decoration: none;
    color: var(--colorBlack);
    font-weight: 400;
}

.container-link:hover {
    background-color: var(--primaryColor);
    transition: 0.5s;
}

.close-menu-mobile {
    position: absolute;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
}

.menu-mobile {
    cursor: pointer;
}

.container-logo-navigation {
    width: 6rem;
    margin-bottom: 3rem;
}

.navigation-show {
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease-in-out;
}

@media (min-width: 769px) {

    .menu-mobile,
    .close-menu-mobile,
    .container-logo-navigation {
        display: none;
    }

    .header {
        max-width: 150rem;
        padding: 3rem 10rem;
        gap: 5rem;
    }

    .navigation {
        width: auto;
        visibility: visible;
        opacity: 1;
        background-color: transparent;
        box-shadow: none;
        flex-direction: row;
        position: static;
        height: auto;
        align-items: flex-start;
        gap: 3rem;
    }

    .container-link {
        width: auto;
        padding: 0;
        position: relative;
        font-size: 2rem;
    }

    .container-link:hover {
        background-color: transparent;
    }

    .link::before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0%;
        height: 1px;
        background-color: var(--colorBlack);
        transition: width 0.3s ease-in-out;
    }

    .link:hover::before {
        width: 100%;
    }
}

/* HOME SECTION */

.home {
    text-align: center;
    margin-bottom: 10rem;
}

.title {
    font-size: 5.2rem;
    font-family: var(--title);
    margin-top: 0;
    font-style: normal;
}


@media (min-width: 767px) {
    .title {
        font-size: 7.2rem;
    }
}

.button {
    font-size: 2rem;
    width: 15rem;
    height: 5rem;
    background-color: var(--colorWhite);
    border: none;
    border-radius: .5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
    font-family: var(--fontCormorant);
}

.container-info-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1024px) {
    .container-info-home {
        flex-direction: row;
        justify-content: center;
    }
}

.container-p-home {
    margin-bottom: 4.3rem;
}

.p-home {
    margin-bottom: 4.3rem;
    margin-top: 0;
}

.button:hover {
    background-color: var(--colorGray);
    color: var(--colorWhite);
}

.container-image-home {
    width: 25rem;
}

@media (min-width: 800px) {
    .title {
        font-size: 10rem;
        margin-bottom: 0;
    }

    .p-home {
        font-size: 2rem;
    }

    .container-image-home {
        width: 30rem;
    }

    .button {
        width: 20rem;
    }
}

@media (min-width: 1260px) {
    .header {
        margin-bottom: 5rem;
    }

    .home {
        display: flex;
        flex-wrap: wrap;
    }

    .title {
        font-size: 14rem;
        flex-basis: 100%;
        letter-spacing: 1rem;
    }

    .container-info-home {
        flex-wrap: wrap;
        align-items: center;
        flex-basis: 100%;
    }

    .container-p-home {
        flex-basis: 50%;
        text-align: left;
    }

    .container-image-home {
        width: 40rem;
    }
}

/* ABOUT SECTION */
/* TWO-IMAGES */
.about {
    text-align: center;
    margin-bottom: 10rem;
}

.container-two-images {
    margin-bottom: 10rem;
}

@media (min-width: 768px) {
    .title-about {
        font-size: 5.2rem;
        margin-top: 0;
    }

    .container-two-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .container-image-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

.title-gallery {
    font-size: 2.2rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 10rem;
}

.gallery1 {
    background-image: url(../img/gallery1.jpg);
}

.gallery2 {
    background-image: url(../img/gallery2.jpg);

}

.gallery3 {
    background-image: url(../img/gallery3.jpg);

}

.gallery4 {
    background-image: url(../img/gallery4.jpg);
}

.container-gallery {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 10rem;
}

.container-image-gallery {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colorWhite);
    font-size: 5rem;
    font-weight: 700;
    font-style: normal;
    height: 30rem;
}

.p-gallery {
    opacity: 0;
    visibility: hidden;
}

.container-image-gallery:hover {
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: soft-light;
    transition: 0.5s ease-in-out;
}

.container-image-gallery:hover>.p-gallery {
    opacity: 1;
    visibility: visible;
    transition: 0.5s ease-in-out;
}



@media (min-width: 768px) {
    .title-gallery {
        font-size: 3.2rem;

    }

    .container-gallery {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 1.5rem;
        column-gap: 1rem;
        justify-content: space-between;
    }

    .container-image-gallery {
        height: 25rem;
        overflow: hidden;
    }

    .gallery1 {
        flex-basis: 55%;
    }

    .gallery2 {
        flex-basis: 43%;
    }

    .gallery3 {
        flex-basis: 43%;
    }

    .gallery4 {
        flex-basis: 55%;
    }
}

@media (min-width: 1024px) {
    .container-image-gallery {
        height: 30rem;
    }

    .container-gallery {
        row-gap: 2.5rem;
    }
}

@media (min-width: 1140px) {
    .container-image-gallery {
        height: 40rem;
    }
}

/* PRODUCTS SECTION */

.products {
    margin-bottom: 10rem;
}

.container-products-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    gap: 2rem;
}

.card {
    display: flex;
    background-color: var(--colorWhite);
    width: 100%;
    height: 40rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
}

.card-image {
    width: 15rem;
    padding: 2rem 1rem 0 1rem;
}

.card-info {
    font-size: 100%;
    text-align: center;
    padding: 2rem 1rem;
}

.title-product {
    font-weight: 700;
    font-size: 2.5rem;
}

.card:hover {
    transform: translateY(-1.5rem);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
}

.card-image2,
.card-image3 {
    width: 20rem;
}

@media (min-width: 767px) {
    .card {
        flex-basis: 45%;
    }

    .container-products-cards {
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .card {
        flex-basis: 20%;
    }
}

/* CONTACT SECTION */

.contact {
    margin-bottom: 10rem;
}

.data-store {
    text-align: center;
}

.data-store p {
    margin: 0;
}

.container-svg {
    border: solid 1px;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-contact {
    color: var(--colorGray);
    width: 5rem;
    height: 5rem;
}

.div-contact {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.name-contact {
    font-weight: 900;
}

/* FORM */

.container-input {
    margin-bottom: 1rem;
}

.input {
    width: 100%;
    height: 5rem;
    border: solid 1px #ccc;
    color: var(--colorGray);
    padding: 1rem;
    font-family: var(--fontCormorant);
    font-size: 2rem;
}

.input:focus {
    border: 1px solid #888888;
    outline: none;
}

.text-area {
    width: 100%;
    border: solid 1px #ccc;
    color: var(--colorGray);
    padding: 1rem;
    font-family: var(--fontCormorant);
    font-size: 2rem;
}

.text-area:focus {
    border: 1px solid #888888;
    outline: none;
}

::placeholder {
    color: #888888;
}

.button-contact {
    width: 100%;
    font-size: 2rem;
}

@media (min-width: 767px) {
    .button-contact {
        width: 20rem;
    }
    .container-contact {
        display: flex;
        justify-content: space-between;
        
    }
    .data-store {
        flex-basis: 45%;
    }
    .form {
        flex-basis: 45%;
    }
}

@media (min-width: 1024px) {
    .div-contact {
       flex-direction: row;
    }
    .info-contact {
        text-align: left;
    }
    .data-store {
        flex-basis: 50%;
    }
}

/* FOOTER */

.footer {
    padding: 5rem;
    background-color: var(--colorGray);
    text-align: center;

}

.copyright {
    margin: 0;
    color: var(--colorWhite);
    font-style: normal;
}

.icon-footer {
    width: 3rem;
    height: 3rem;
    color: var(--colorWhite);
}

.container-icons-footer {
    margin-bottom: 1rem;
}

@media (min-width: 767px) {
    .home,
    .about,
    .products,
    .contact {
        margin-bottom: 20rem;
    }
}

@media (min-width: 1024px) {
    .home,
    .about,
    .products,
    .contact {
        margin-bottom: 30rem;
    }
}